#title{
  text-align: center;
  font-size: 72px;
  font-family: fantasy;
  color: darkred;
}
.player-one-rolls-one{
  display: none;
}

#cont2{
  background-color: green;
}
#cont{
  background-color: skyblue;
}
.jumbotron{
  background-color: skyblue;
}
